{% extends "alunos/base.html" %}

{% block 'conteudo' %}
    <h1>Todos os Alunos</h1>

    <div class="row">
        <input type="text" placeholder="Pesquisar Aluno">
        <a href="{% url 'criar_aluno' %}">Novo</a>
    </div>

    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        CPF
                    </th>
                    <th>
                        Sobre
                    </th>
                </tr>
            <thead>
        {% for a in alunos %}
            <tr>
                <td>
                    {{ a.nome }}
                </td>
                <td>
                    {{ a.cpf }}
                </td>
                <td>
                    <a href="{% url 'detalhe_aluno' a.id %}">{{ a.sobre }}</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}